# PlatformIO (ESP32)
.pio/
.build/
build/
*.bin
*.elf
partitions.bin
bootloader.bin

# Python
__pycache__/
*.pyc
.venv/
venv/

# Docker
Dockerfile.override
.dockerignore

# macOS
.DS_Store
Thumbs.db

# Общие
.idea/
.vscode/
*.log

